.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding-bottom: 0.4rem;

  h2 {
    margin: 10px 0;
  }

  form {
    width: 50%;
    padding-bottom: 2rem;

    .form-input {
      padding: 0.7rem;
      font-size: 16px;
    }

    .buttons-container {
      display: flex;
      justify-content: center;

      button {
        margin-top: 0.2rem;
      }
    }
  }

  .sign-up-link-container {
    padding: 2.5rem;
    font-size: 1rem;
  }
}
